{{ drupal_entity('block_content', '11') }}

<div class="reset-new-pass-form childre-form">
  <h2 class="form-title">Ingrese una nueva Contraseña</h2>
  <p class="form-description">Establecer una nueva contraseña. Elige una combinación única y segura.</p>
  {{ form }}
</div>
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<dialog tabindex="-1" role="dialog" class="dialog">
  <div class="dialog-header">
    <h4 class="dialog-header-title">Estado del comentario</h4>
    <button type="button" class="dialog-close">X</button>
  </div>
  <div class="dialog-body">
    <p class="dialog-body-description"></p>
  </div>
</dialog>
