<div class="d-flex vh-100 pages-not-found">
  <div class="info">
    <p class="info-subtitle">{{ content.pre_title_404|render|striptags }}</p>
    <h1 class="info-title">{{ content.title_404|render|striptags }}</h1>
    <p class="info-description">{{ content.description_404|render|striptags }}</p>
    {{ content.button_404 }}
  </div>
  <div class="image-404">
    {{ content.image_404 }}
  </div>
</div>
